src/UT_WCFTestDate/Service References/WCFTestDateJaponSrv/WCFTestDate2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rauljapon.cloudapp.net/WCFTestDate.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://rauljapon.cloudapp.net/WCFTestDate.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFTestDate" />
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="datetime" type="xs:dateTime" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="offset" type="q1:duration" />
        <xs:element minOccurs="0" name="timezone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFTestDate" minOccurs="0" name="TestResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDateTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechIn" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDateTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkDateTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDateTimeForceUTC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechIn" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDateTimeForceUTCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkDateTimeForceUTCResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>