src/UT_WCFTestDate/Service References/WCFTestDateJaponSrv/WCFTestDate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFTestDate" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://rauljapon.cloudapp.net/WCFTestDate.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://rauljapon.cloudapp.net/WCFTestDate.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://rauljapon.cloudapp.net/WCFTestDate.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFTestDate" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFTestDate_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IWCFTestDate_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFTestDate_checkDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:checkDateTime" />
  </wsdl:message>
  <wsdl:message name="IWCFTestDate_checkDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFTestDate_checkDateTimeForceUTC_InputMessage">
    <wsdl:part name="parameters" element="tns:checkDateTimeForceUTC" />
  </wsdl:message>
  <wsdl:message name="IWCFTestDate_checkDateTimeForceUTC_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkDateTimeForceUTCResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFTestDate">
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFTestDate/Test" message="tns:IWCFTestDate_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFTestDate/TestResponse" message="tns:IWCFTestDate_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFTestDate/checkDateTime" message="tns:IWCFTestDate_checkDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFTestDate/checkDateTimeResponse" message="tns:IWCFTestDate_checkDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkDateTimeForceUTC">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFTestDate/checkDateTimeForceUTC" message="tns:IWCFTestDate_checkDateTimeForceUTC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFTestDate/checkDateTimeForceUTCResponse" message="tns:IWCFTestDate_checkDateTimeForceUTC_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFTestDate" type="tns:IWCFTestDate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IWCFTestDate/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDateTime">
      <soap:operation soapAction="http://tempuri.org/IWCFTestDate/checkDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDateTimeForceUTC">
      <soap:operation soapAction="http://tempuri.org/IWCFTestDate/checkDateTimeForceUTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFTestDate">
    <wsdl:port name="BasicHttpBinding_IWCFTestDate" binding="tns:BasicHttpBinding_IWCFTestDate">
      <soap:address location="http://rauljapon.cloudapp.net/WCFTestDate.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>